.--bondedToken {
  border: 1px solid black;
}
.--bondedToken a,
.--bondedToken a:active,
.--bondedToken a:visited,
.--bondedToken a:hover {
  text-decoration: none;
}
.--bondedToken .--bondedToken-pointer {
  cursor: pointer;
}
.--bondedToken-available {
  font-size: .7rem;
  padding-top: 3px;
  /*display: flex;*/
  text-align: center;
  margin-bottom: -15px;
  /*justify-content: space-between;*/
  a {
    text-align: right;
  }
}
.--bondedToken input:focus,
.--bondedToken button:focus{
    outline: none;
}
.--bondedToken label {
  display: block;
  border-bottom: 1px solid grey;
  text-align: right;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: .3rem;
}
/*.--bondedToken label:not(.--bondedToken-ratio) input[type="number"],
.--bondedToken label:not(.--bondedToken-ratio) > div {
  width:calc(100% - 60px);
  max-width: calc(50vw - 2em);
  display: inline;
}*/
.--bondedToken input[type="range"] {
  width:100%;
}

.--bondedToken input[type=number]::-webkit-inner-spin-button,
.--bondedToken input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.--bondedToken input[type="text"],
.--bondedToken input[type="number"] {
  display: inline;
  border: none;
  text-align:right;
  font-size: 1rem;
  flex: 1;
  padding-right: 5px;
  background-color: transparent;
  line-height: inherit;
  &::after {
    display: none;
  }
}
.--bondedToken-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.--bondedToken-flex-center {
  display: flex;
  justify-content: space-evenly;
}


.--bondedToken-mx-auto {
  margin-right:auto;
  margin-left:auto;
}

.--bondedTokenHeader {
  background-color: grey;
  color: white;
  padding: .5rem 1rem;
}

.--bondedTokenHeaderBody {
  padding: .5rem 1rem;
  /*box-shadow: 0px .5px grey;*/
  font-size: .8rem;
}

.--bondedTokenAddress {
  padding: 0rem 0px 1rem 0;
  font-size: .7rem;
}


/********** --bondedTokenTransact ***********/

.--bondedTokenTransact {
  padding: 1rem;
}

.--bondedToken-not-connected {
  padding: 1rem;
  text-align: center;
}

/* BondedTokenAdvanced */
.--BondedTokenAdvanced {
  border-top:1px solid black;
  padding:1rem;
  background-color: lightgrey;
}
.--BondedTokenAdvanced-open {
}
.--bondedToken-submit-container {
  padding:1rem;
}
.--bondedToken-submit {
  box-sizing: border-box;
  width:100%;
  border:1px solid #4600FF;
  background-color: #4600FF;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding:1rem;
  border-radius: 5px;
  transition: transform 100ms ease;
  cursor: pointer;
  display: block;
  position: relative;
  transform: translate(0px, 0px);
}

.--bondedToken-submit:hover:not(:active){
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
}

.--bondedToken-submit:active {
    transform: translate(0px, 0px) !important;
}